@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");

@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
}
body,
html {
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
    background-image: url("/background.jpeg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
/* Para navegadores baseados em WebKit (Chrome, Edge, Safari) */
::-webkit-scrollbar {
  width: 6px;      /* Largura vertical */
  height: 6px;     /* Altura horizontal */
}

::-webkit-scrollbar-track {
  background: #111;   /* Cor de fundo da barra (track) — dark */
}

::-webkit-scrollbar-thumb {
  background: #0f0;  /* Verde claro: #0f0 é um verde neon básico */
  border-radius: 3px; /* Cantos arredondados */
}

::-webkit-scrollbar-thumb:hover {
  background: #2f2;  /* Verde mais forte quando passa o mouse */
}

/* Firefox — usa pseudo-elemento especial */
* {
  scrollbar-width: thin;               /* Scrollbar fina */
  scrollbar-color: #0f0 #111; /* thumb track */
}
